<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>

    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="/fonts/material-icon/css/material-design-iconic-font.css"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="/css/signup.css" />
    <style></style>
  </head>

  <body>
    <!-- Navbar -->

    <nav
      id="nav-bar"
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-easing="linear"
    >
      <span class="open-slide">
        <a id="ham-link" href="#">
          <img id="hamburger" src="/images/ham.png" alt="" />
        </a>
      </span>
      <ul id="nav-items">
        <li class="nav-item">
          <a class="nav-text" href="/"> home </a>
        </li>
        <li class="nav-item">
          <a class="nav-text active" href="/signup"> signup </a>
        </li>
        <li class="nav-item">
          <a class="nav-text" href="/login"> login </a>
        </li>
      </ul>
    </nav>

    <div id="side-menu" class="side-nav"></div>
    <div class="main">
      <!-- Sign up form -->
      <section class="signup" style="margin-top: -20rem">
        <div class="container">
          <div class="signup-content">
            <div class="signup-form">
              <%- include("messages/_formMessages.ejs") %>
              <h2 class="form-title">Sign up</h2>
              <form
                method="POST"
                action="/signup"
                class="register-form"
                id="register-form"
              >
                <div class="form-group">
                  <label for="name"
                    ><i class="zmdi zmdi-account material-icons-name"></i
                  ></label>
                  <input
                    required
                    type="text"
                    style="color: black"
                    name="username"
                    id="name"
                    placeholder="Username"
                    value="<%= typeof username != 'undefined' ? username : '' %>"
                  />
                </div>

                <div class="form-group">
                  <label for="email"
                    ><i
                      class="zmdi zmdi-email zmdi-hc-lg material-icons-name"
                    ></i
                  ></label>
                  <input
                    required
                    type="email"
                    style="color: black"
                    name="email"
                    id="email"
                    placeholder="Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                </div>

                <div class="form-group">
                  <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                  <input
                    required
                    type="password"
                    name="password"
                    id="pass"
                    placeholder="Password"
                    style="color: black"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                  />
                </div>
                <div class="form-group">
                  <label for="re-pass"
                    ><i class="zmdi zmdi-lock-outline"></i
                  ></label>
                  <input
                    type="password"
                    required
                    style="color: black"
                    name="password2"
                    id="re_pass"
                    placeholder="Confirm Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                  />
                </div>

                <div class="form-group form-button">
                  <input
                    type="submit"
                    style="background-color: dodgerblue"
                    name="signup"
                    id="signup"
                    class="form-submit"
                    value="Register"
                  />
                </div>
              </form>
            </div>
            <div class="signup-image">
              <figure>
                <img src="/images/signin-image.jpg" alt="sing up image" />
              </figure>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- JS -->
    <script src="/js/signup.js"></script>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      document.getElementById("close-alert").addEventListener("click", (e) => {
        document.querySelector(".alert-danger").remove();
      });
    </script>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
